@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;

  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;

  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

body * {
  /* box-shadow: inset 0 0 0 1px rebeccapurple; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-width: 1200px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
  letter-spacing: 0.15px;
}
.inner-page .main {
  font-weight: 500;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.page-container {
  padding-left: 80px;
}



.visually-hidden {
  position: absolute;
  z-index: -1;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: none;

  clip: rect(0 0 0 0);
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.gilroy {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-weight: 800;
  color: #000;
}

.btn {
  position: relative;

  display: inline-block;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 15px;

  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
}
.btn::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 0;
  bottom: 16px;
  left: 0;
  z-index: -1;

  background-color: #f0c52e;
}
.btn:hover::before,
.btn:focus::before {
  top: 0;
  bottom: 0;
}
.btn:active {
  color: rgba(0, 0, 0, 0.3);
}
.btn:disabled {
  cursor: auto;
}

.modal {
  display: none;
}

.site-header {
  position: relative;

  min-height: 299px;
  margin-top: 40px;
  padding-top: 34px;
  padding-right: 60px;
  padding-bottom: 20px;
  padding-left: 60px;

  color: #000;

  background-color: #f7e296;
}
.inner-page .site-header {
  min-height: 186px;
  margin-bottom: 37px;
}

.main-nav-logo {
  position: absolute;
  top: -19px;
}

.main-nav-row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 29px;
}

.main-nav-search form {
  position: relative;

  display: flex;
  justify-content: flex-start;
  height: 49px;
  margin-right: 80px;
}
.main-nav-search form::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 3px;

  display: block;
  width: 16px;
  height: 16px;
  margin-top: -8px;

  background: url("../img/search-icon.svg") no-repeat center;
}
.main-nav-search input {
  flex-shrink: 0;
  width: 355px;
  padding-bottom: 5px;
  padding-left: 38px;

  line-height: 30px;

  background-color: transparent;
  border: none;
}
.main-nav-search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.main-nav-search input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.main-nav-search input:focus {
  color: rgb(0, 0, 0);

  box-shadow: inset 0 -2px 0 0 #000;
}
.main-nav-search button {
  flex-shrink: 0;
  width: 85px;
  padding-right: 20px;
  padding-left: 20px;

  line-height: 30px;

  background-color: transparent;
  border: none;
  box-shadow: inset 0 0 0 2px #000;
  visibility: hidden;
}
.main-nav-search button:hover,
.main-nav-search button:focus {
  color: #fff;

  background-color: #000;
  visibility: visible;
}
.main-nav-search button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000;
}
.main-nav-search input:focus + button {
  visibility: visible;
}

.main-nav-add {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}
.main-nav-user {
  display: flex;
  justify-content: flex-start;
}
.main-nav-shopping {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-nav-user {
  width: 280px;
}
.main-nav-add-item {
  margin-left: 20px;
  padding-top: 9px;
}
.main-nav-add-item a {
  position: relative;

  display: block;

  color: #000;
}
.main-nav-add-item a::before {
  content: "";
  position: absolute;
  top: 50%;

  display: block;
}
.main-nav-add-item a:hover,
.main-nav-add-item a:focus {
  opacity: 0.6;
}
.main-nav-add-item a:active {
  opacity: 0.3;
}
.main-nav-user-login a,
.main-nav-user-username a {
  padding-left: 27px;
}
.main-nav-user-login a::before,
.main-nav-user-username a::before {
  left: 0;

  width: 13px;
  height: 12px;
  margin-top: -6px;

  background: url("../img/user-icon.svg") no-repeat center;
}
.main-nav-shopping-compare a {
  padding-left: 28px;
}
.main-nav-shopping-compare a::before {
  left: 7px;

  width: 10px;
  height: 10px;
  margin-top: -4px;

  background: url("../img/compare-icon.svg") no-repeat center;
}
.main-nav-shopping-cart a {
  padding-left: 24px;
}
.main-nav-shopping-cart a::before {
  left: 2px;

  width: 12px;
  height: 12px;
  margin-top: -6px;

  background: url("../img/cart-icon.svg") no-repeat center;
}

.main-nav-menu {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;

  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}
.main-nav-menu-item {
  margin-left: 35px;
}
.main-nav-catalog {
  position: relative;

  min-width: 505px;
  margin-left: 0;
}
.main-nav-catalog > a {
  position: relative;

  padding-right: 27px;
}
.main-nav-catalog > a::before,
.main-nav-catalog > a::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 0;

  width: 16px;
  height: 3px;

  background-color: #b8a974;
}
.main-nav-catalog > a::after {
  transform: rotate(90deg);
}
.main-nav-contacts {
  margin-right: -4px;
  margin-left: auto;
}
.main-nav-menu-item a {
  color: #000;
}
.main-nav-menu-item a:hover,
.main-nav-menu-item a:focus {
  opacity: 0.6;
}
.main-nav-menu-item a:active {
  opacity: 0.3;
}

.main-nav-catalog:hover .cat-menu-dropdown,
.main-nav-catalog:focus .cat-menu-dropdown {
  display: flex;
}
.cat-menu-dropdown {
  position: absolute;
  top: 95%;
  left: -60px;
  z-index: 1;

  display: none;
  width: 1160px;
  min-height: 164px;
  padding-right: 60px;
  padding-left: 60px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  text-transform: none;
  letter-spacing: 0.15px;

  background-color: #f7e296;
}
.cat-menu-dropdown-list {
  flex-shrink: 0;
  min-width: 140px;
  margin-top: 22px;
  margin-right: 60px;
}
.slider {
  position: relative;
  top: -111px;

  margin-bottom: 3px;
}
.slide {
  position: relative;

  display: none;
}
.slide-col {
  width: 560px;
}
.slide-col-left {
  position: relative;

  margin-right: 40px;
}
.slide-img {
  position: absolute;
}
.slide-img-selfy {
  top: 0;
  left: 90px;
}
.slide-img-bracer {
  top: 12px;
  left: 116px;
}
.slide-img-copter {
  top: 65px;
  left: 31px;
}
.slide-col-right {
  position: relative;

  padding-top: 79px;
  padding-right: 60px;
}
.slide-col-right::before {
  content: "";
  position: absolute;
  top: 37px;
  left: 0;

  display: block;
  width: 100px;
  height: 7px;

  background-color: #fff;
}
.slide-num {
  position: absolute;
  top: -14px;
  right: 46px;

  font-size: 179px;
  line-height: 179px;
  color: #fff;
  letter-spacing: 1.79px;
}
.slide-header {
  position: relative;

  margin: 0;
  margin-bottom: 19px;

  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
}
.slide-desc {
  margin: 0;
  margin-bottom: 43px;
}
.slide-btn {
  width: 220px;
  margin-bottom: 50px;
  padding-left: 18px;
}
.slide-properties {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: -78px;
}
.slide-properties-item {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  margin-left: 78px;
}
.slide-3 .slide-properties {
  margin-left: -47px;
}
.slide-3 .slide-properties-item {
  margin-left: 47px;
}
.slide-properties-item dt {
  order: 2;

  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}
.slide-properties-item dd {
  order: 1;
  margin: 0;
  margin-bottom: 7px;

  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
}
.slider-nav {
  position: absolute;
  top: 327px;
  right: 83px;

  display: flex;
}
.slider-nav label {
  width: 12px;
  height: 12px;
  margin-left: 21px;

  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px #fff;
}
#slider-nav-1:checked ~ .slider-nav label[for="slider-nav-1"] {
  box-shadow: inset 0 0 0 3px #fff,
  inset 0 0 0 4px #000;
}
#slider-nav-2:checked ~ .slider-nav label[for="slider-nav-2"] {
  box-shadow: inset 0 0 0 3px #fff,
  inset 0 0 0 4px #000;
}
#slider-nav-3:checked ~ .slider-nav label[for="slider-nav-3"] {
  box-shadow: inset 0 0 0 3px #fff,
  inset 0 0 0 4px #000;
}
#slider-nav-1:checked ~ .slide-1 {
  display: flex;
}
#slider-nav-2:checked ~ .slide-2 {
  display: flex;
}
#slider-nav-3:checked ~ .slide-3 {
  display: flex;
}

.categories {
  margin-bottom: 81px;
}
.categories-list {
  display: flex;
}
.categories-item {
  margin-right: 40px;
}
.categories-img-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
}
.categories-img-link:active img {
  opacity: 0.3;
}
.categories-img-link::before {
  content: "";
  position: absolute;
  z-index: -1;

  display: block;
  width: 100%;
  height: 100%;

  background-color: #f7e296;
}
.categories-img-link:hover::before,
.categories-img-link:focus::before,
.categories-img-link:active::before {
  background-color: #f0c52e;
}
.categories-img-link-monopod {
  align-items: flex-end;
}
.categories-name-link {
  display: block;
  margin-top: 33px;

  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}
.categories-name-link:active {
  opacity: 0.3;
}

.terms {
  position: relative;

  min-height: 388px;
  margin-bottom: 94px;
}
.terms::before {
  content: "";
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  display: block;

  background-color: #e5e5e5;
}
.tabs-box {
  display: flex;
}
.tabs-btns-list {
  min-height: 319px;
  margin-bottom: 69px;
  padding-top: 80px;

  border-right: 7px solid #000;
}
.tabs-btns-item {
  width: 277px;
  margin-bottom: 24px;
}
.tabs-btns-item:active,
.tabs-btns-item-current {
  background-color: #000;
}
.tabs-btns-item .btn {
  width: 160px;
}
.tabs-btns-item:active .btn,
.tabs-btns-item-current .btn {
  color: #f7e184;
}
.tabs-btns-item:active .btn::before,
.tabs-btns-item-current .btn::before {
  background: none;
}
.tabs-content-item {
  position: relative;

  display: none;
}
.tabs-content-item::before {
  content: "";
  position: absolute;

  display: block;
}
.tabs-content-item-delivery::before {
  top: 12px;
  right: -255px;

  width: 136px;
  height: 164px;

  background-image: url("../img/delivery.svg");
}
.tabs-content-item-warranty::before {
  top: -12px;
  right: -275px;

  width: 171px;
  height: 195px;

  background-image: url("../img/warranty.svg");
}
.tabs-content-item-credit::before {
  top: -12px;
  right: -251px;

  width: 156px;
  height: 188px;

  background-image: url("../img/credit.svg");
}
.tabs-content-item-current {
  display: block;
}
.tabs-content-list {
  width: 437px;
  margin-left: 118px;
  padding-top: 73px;
}
.tabs-heading {
  margin: 0;
  margin-bottom: 31px;

  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
}

.brends {
  margin-bottom: 93px;
}
.brends-list {
  display: flex;
  justify-content: space-between;
}
.brends-item-link {
  display: block;
}
.brends-item-link img {
  width: 260px;
  height: 100px;
}
.brends-img {
  display: block;
}
.brends-img-hover {
  display: none;
}
.brends-item:hover .brends-img-hover,
.brends-item:focus .brends-img-hover {
  display: block;
}
.brends-item:hover .brends-img,
.brends-item:focus .brends-img {
  display: none;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}
.index-columns section {
  position: relative;

  flex-shrink: 0;
  padding-top: 52px;
}
.index-columns section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 80px;
  height: 7px;

  background-color: #000;
}
.index-columns .btn {
  min-width: 260px;
}
.index-columns h2 {
  margin: 0;
  margin-bottom: 43px;

  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
}
.about {
  width: 500px;
  padding-right: 22px;
}
.about-desc {
  margin-bottom: 65px;
}
.about-desc p {
  margin: 0;
  margin-bottom: 30px;

  letter-spacing: normal;
}
.about-tcs {
  margin-bottom: 55px;

  font-size: 16px;
  line-height: 40px;
}
.about-tcs li {
  position: relative;

  padding-left: 35px;
}
.about-tcs li::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 1px;

  width: 8px;
  height: 8px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}
.contacts {
  width: 560px;
}
.contacts-desc {
  margin-bottom: 39px;
}
.contacts-desc p {
  margin: 0;
}
.contacts-map-link {
  display: block;
  margin-bottom: 69px;
}
.contacts-map-link img {
  display: block;
  width: 560px;
  height: 222px;
}

.page-h1 {
  margin: 0;
  margin-bottom: 24px;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
}

.breadcrumbs {
  margin-bottom: 46px;
}
.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: rgba(0, 0, 0, 0.3);
}
.breadcrumbs-item a[href] {
  position: relative;
  margin-right: 20px;
  padding-right: 17px;
  color: inherit;
}
.breadcrumbs-item a[href]:hover,
.breadcrumbs-item a[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs-item a[href]:active {
  color: rgba(0, 0, 0, 0.1);
}
.breadcrumbs-item a[href]::before,
.breadcrumbs-item a[href]::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;

  display: block;
  width: 4px;
  height: 1px;

  background-color: #000;
  transform-origin: top right;
}
.breadcrumbs-item a[href]::before {
  transform: rotate(45deg);
}
.breadcrumbs-item a[href]::after {
  transform: translate(-0.5px) rotate(-45deg);
}

.filter-catalog-wrapper {
  display: flex;
}
.filter-stretcher,
.sort-stretcher {
  content: "";
  display: block;
  background-color: red;
  flex-grow: 1;
}
.filter-stretcher {
  background-color: #eee;
}
.filter-header-stretcher {
  height: 70px;
  background-color: #dbdbdb;
}
.sort-stretcher {
  background-color: #ebebeb;
}
.filter {
  position: relative;
  width: 328px;
}
.filter-header {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 60px;
  height: 70px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
}
.filter .filter-header {
  background-color: #dbdbdb;
}
.filter-form {
  padding-left: 59px;
  padding-right: 69px;
  padding-top: 69px;
  padding-bottom: 69px;
  background-color: #eee;
}
.filter-form fieldset {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  padding-top: 10px;
  border: none;
  border-top: 2px solid #000;
}
.filter-form legend {
  float: left;
  width: 100%;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}
.filter-price legend {
  margin-bottom: 35px;
}
.filter-form legend + * {
  clear: both;
}
.range {
  position: relative;
  width: 100%;
  height: 2px;
  margin-left: 5px;
  margin-bottom: 33px;
}
.range-outer {
  width: 100%;
  height: 100%;
  background-color: #dbdbdb;
}
.range-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 38.5%;
  background-color: #91c92f;
}
.range-handler {
  position: absolute;
  top: -10px;
  left: 0;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  border: 8px solid #fff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0px 2px 1px 0 #dadada;
  cursor: pointer;
}
.range-handler-2 {
  left: auto;
  right: 0;
}
.range-value {
  position: absolute;
  top: 13px;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}
.range-value input {
  width: 50px;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  -webkit-appearance: textfield;
}
.range-value-min {
  left: -3px;
}
.range-value-max {
  left: -26px;
}
.filter-color-item,
.filter-bluetooth-item {
  display: block;
  margin-left: -1px;
  margin-bottom: -2px;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: #000000;
}
.filter-color-checkbox {
  -webkit-appearance: none;
  width: 23px;
  height: 23px;
  margin-right: 13px;
  border: 2px solid #000;
  border-radius: 2px;
}
.filter-color-checkbox,
.filter-color-text,
.filter-bluetooth-radio,
.filter-bluetooth-text {
  vertical-align: middle;
}
.filter-color-checkbox:checked {
  width: 27px;
  background: url("../img/checkbox-on.svg") no-repeat center;
  border: none;
  margin-right: 9px;
}
.filter-bluetooth-radio {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  margin-right: 11px;
  border: 4px solid #000;
  border-radius: 50%;
  box-shadow: inset 0 0 0 4px #fff;
}
.filter-bluetooth-radio:checked {
  background-color: #000;
}
.btn-filter {
  width: 100%;
}











.catalog-search-result {
  width: 832px;
}

.site-footer {
  margin-top: 82px;
  padding-top: 65px;
  padding-bottom: 58px;

  color: #fff;

  background-color: #464646;
}
.site-footer .container {
  display: flex;
}
.footer-col-1 {
  position: relative;

  flex-shrink: 0;
  width: 300px;
  margin-right: 60px;
}
.footer-col-1::before {
  content: "";
  position: absolute;
  bottom: 21px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}
.footer-logo {
  display: block;
  margin-bottom: 21px;
}
.footer-logo[href]:hover,
.footer-logo[href]:focus {
  opacity: 0.6;
}
.footer-logo[href]:active {
  opacity: 0.3;
}
.footer-address {
  font-style: normal;
  letter-spacing: normal;
}

.footer-col-2 {
  flex-shrink: 0;
  width: 440px;

  text-align: center;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 71px;
  margin-right: 5px;
  margin-bottom: 64px;
  margin-left: 7px;
}
.footer-menu-item {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}
.footer-menu-item a {
  color: #fff;
}
.footer-menu-item a:hover,
.footer-menu-item a:focus {
  opacity: 0.6;
}
.footer-menu-item a:active {
  opacity: 0.3;
}
.footer-socials {
  display: inline-flex;
}
.footer-socials-item {
  margin-right: 11px;
  margin-left: 12px;
}
.footer-socials-item a {
  display: block;
  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}
.footer-socials-facebook a {
  background-image: url("../img/facebook.svg");
}
.footer-socials-instagramm a {
  background-image: url("../img/instagramm.svg");
}
.footer-socials-twitter a {
  background-image: url("../img/twitter.svg");
}
.footer-socials-item a:hover,
.footer-socials-item a:focus {
  opacity: 0.6;
}
.footer-socials-item a:active {
  opacity: 0.1;
}

.footer-col-3 {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 330px;
  margin-left: auto;
}
.footer-add-menu {
  display: flex;
  justify-content: flex-end;
  margin-top: -5px;
  margin-bottom: 34px;

  line-height: 36px;
}
.footer-add-menu-item {
  flex-shrink: 0;
  margin-left: auto;
}
.footer-add-menu-item a {
  position: relative;

  display: block;
  padding-left: 62px;

  color: rgba(255, 255, 255, 0.7);
}
.footer-add-menu-item a:hover,
.footer-add-menu-item a:focus {
  color: #fff;
}
.footer-add-menu-item a:active {
  color: rgba(255, 255, 255, 0.3);
}
.footer-add-menu-item a::before {
  content: "";
  position: absolute;

  display: block;

  background-repeat: no-repeat;
  background-position: center;
}
.footer-add-menu-login::before,
.footer-add-menu-username::before {
  top: 12px;
  left: 35px;

  width: 13px;
  height: 12px;

  background-image: url("../img/user-icon-y.svg");
}
.footer-add-menu-compare::before {
  top: 13px;
  left: 41px;

  width: 13px;
  height: 12px;

  background-image: url("../img/compare-icon-y.svg");
}
.footer-add-menu-cart::before {
  top: 12px;
  left: 40px;

  width: 13px;
  height: 12px;

  background-image: url("../img/cart-icon-y.svg");
}
.footer-phone {
  font-style: normal;
  text-align: right;
  letter-spacing: normal;
}
.footer-phone a {
  color: #fff;
}
.footer-logo-htmlacademy {
  align-self: flex-end;
  display: block;
  margin-top: auto;
  margin-bottom: 9px;
}
.footer-logo-htmlacademy img {
  display: block;
  width: 27px;
  height: 34px;
}
.footer-logo-htmlacademy:hover,
.footer-logo-htmlacademy:focus {
  opacity: 0.6;
}
.footer-logo-htmlacademy:active {
  opacity: 0.3;
}
